.calendarsContent h2 {
    text-align: center;
    font-size: 2.625rem;

    margin: 3.3rem 0;
}

.calendarsContent p {
    text-align: center;
}

@media (max-width: 542px) {
    .calendarsContent h2 {
        font-size: 2rem;   
    }
}