.content main p {
    color: var(--gray);

    margin: 0 1rem;
}

.iconMissionary {
    width: 2rem;
    margin: 0.5rem 0 1rem 0;
}

.content main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.3rem 0;
}

main strong {
    margin-top: 3rem;
}

.content form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.content form a {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.goals {
    margin-top: 3.3rem;
}

.goals h2 {
    text-align: center;
    margin-bottom: 1rem;
}