.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 1rem 4rem 1rem;
}

.content img {
    width: 100%;
    max-width: 750px;
}

.lineDetail {
    width: 3.5rem;
    height: 0.25rem;
    background-color: var(--blue-25);
}