.footer {
    background: #f5f4f4;
    color: var(--black);
    font-size: 0.85rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    margin-top: 4rem;
}

.footer .social {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer a, .address {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.footer svg {
    color: var(--black);
}

@media (max-width: 847px) {
    .footer {
        flex-direction: column;
        gap: 2.5rem;
        padding: 1rem;
        margin-top: 4rem;
    }
}

@media (max-width: 326px) {
    .footer {
        font-size: 0.75rem;
    }
}