.goalsList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    padding: 0;
    margin: 0 1rem;
}

.goalsList li {
    display: flex;
    flex-direction: column;
}

@media (max-width: 603px) {
    .goalsList {
        flex-direction: column;
        margin: 0 4rem;
    }
}