.content {
    background: url('/src/assets/youngsung_kim_shall_not_want.webp') no-repeat center;
    background-size: cover;
    color: var(--white);

    padding: 5rem;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content h2 {
    font-size: 2.3rem;
    font-weight: bold;

    margin: 0.5rem 0;
}

.content span {
    font-size: 1.2rem;
    font-weight: 300;
}

@media (max-width: 772px) {
    .content {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 2rem;

        background-size: initial;
    }
}