.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;

    border-bottom: 1px solid #e0e2e2;
}

.detail {
    width: 100px;
}

.logo {
    width: 130px;
}

.subHeader ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 1rem;

    border-bottom: 1px solid #e0e2e2;
    box-shadow: 0 2px 5px 0 rgba(74, 74, 74, 0.2);
}

.subHeader ul li {
    font-size: 0.85rem;
    list-style: none;
}

.subHeader ul li a:hover {
    color: var(--blue-25);
}