.lineDetail {
    width: 3.5rem;
    height: 0.25rem;
    background-color: rgb(0, 125, 165);
}

.contentHero {
    background: #f5f4f4;

    padding: 5rem;
    margin-bottom: 1rem;
}

.contentHero h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.3rem;
    font-weight: bold;

    margin: 0.5rem 0;
}

.contentHero .contentText {
    margin-bottom: 1.5em;

    font-family: 'Noto Sans JP', sans-serif;
    font-size: 0.9rem;
}

.contentHero .contentText strong {
    font-size: 0.8rem;
}

.contentHero .contentText strong svg {
    margin-right: 0.2rem;
}

@media (min-width: 1025px) {
    .contentHero .contentText {
        width: 50%;
    }
}

@media (max-width: 482px) {
    .contentHero {
        padding: 3rem;
    }

    .contentHero h2 {
        font-size: 1.6rem;
    }
}