.content {
    margin: 0 2rem;
}

header span {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}

header .line {
    width: 80%;
    height: 1px;

    background: var(--black);
}

.contentPost {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: center;
}

.contentPost img {
    flex: 1;
    max-width: 100%;
    height: auto;
    margin-top: 0.3rem;
}

.sideA, .sideB {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start; 
}

.contentPost h3 {
    text-transform: uppercase;
}

.contentPost span {
    font-size: 0.82rem;
    color: var(--blue-25);
}

.contentPost p {
    color: var(--gray);
    font-weight: 300;

    line-height: 1.6rem;
    width: 80%;
}

.sideB .contentMessage {
    background: #f6f8ff;
    border: 1px solid #e9effd;

    padding: 10px;
}

.sideB ul li {
    padding: 10px;
    margin-bottom: 1rem;

    box-shadow: 0 2px 5px 0 rgba(74, 74, 74, 0.2);
}

.sideB ul li p {
    margin-top: 0.5rem;
}

section {
    margin-bottom: 2rem;
    flex: 1;
}

.titleAd {
    color: var(--blue-25);

    margin-bottom: 1rem;
}

.linkDetail {
    text-decoration: underline;
    color: blue;
}

@media (min-width: 768px) {
    .contentPost img {
        width: 500px;
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .sideA, .sideB{
        flex-direction: column;
    }

    .contentPost p {
        width: 90%;
    }
}