.content {
    margin-top: 1rem;
}

header span {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
}

header .line {
    width: 80%;
    height: 1px;

    background: var(--black);
}

.contentPost {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
    justify-content: center;
}

.newsImg {
    flex: 1;
    max-width: 100%;
    height: auto;
    margin-top: 0.3rem;
}

.top, .bottom {
    display: flex;
    gap: 2rem;
    align-items: flex-start; 
}

.contentPost h3 {
    text-transform: uppercase;
}

.contentPost p {
    color: var(--gray);
    font-weight: 300;

    line-height: 1.6rem;
    margin-bottom: 0.4rem;
    width: 80%;
}

.bottom .contentMessage {
    background: #f6f8ff;
    border: 1px solid #e9effd;

    padding: 10px;
}

.lesson {
    margin: 4.5rem 0;
}

.contentLesson {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 0.75rem;
}

.lessonImg {
    width: 80px;
    
    border-radius: 8px;
}

.tag {
    font-size: 0.82rem;
    color: var(--blue-25);
}

section {
    margin-bottom: 2rem;
    flex: 1;
}

@media (min-width: 768px) {
    .newsImg {
        width: 500px;
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 768px) {
    .top, .bottom{
        flex-direction: column;
    }

    .contentPost p {
        width: 90%;
    }
}