.button {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.5rem 1rem;

    background: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
    font-size: 0.8rem;
    

    cursor: pointer;
    transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
}

.button:hover {
    background: var(--primary);
    color: var(--white);
}