.content h3 {
    margin: 2rem 0 0.5rem 0;
}

.content .list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.content .list .item {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
}

.content .list .item:only-child {
    flex: 0 1 500px;
}

.img {
    max-width: 100%;
    height: auto;
    margin: 0.3rem 0;
    object-fit: cover;
}

@media (max-width: 768px) {
    .content {
        padding: 0 2rem;
    }

    .content .list .item {
        flex: 1 1 100%;
    }

    .img {
        width: 100%;
    }
}