:root {
  --white: #fff;
  --black: #323131;
  --gray: #535353;

  --primary: #592569;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: var(--black);
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

input, button {
  padding: 0.5rem;
  width: 13rem;
}

main {
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 772px) {
  main {
    padding: 0;
  }
}