:root {
  --white: #fff;
  --black: #323131;
  --gray: #535353;

  --blue-25: #007da5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: var(--black);
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

input, button {
  padding: 0.5rem;
  width: 13rem;
}

main {
  margin: 0 auto;
  padding: 0 2rem;
}